region            = "ap-southeast-1"
state_bucket_name = "earth-map-tfstate-010382427026"
site_bucket_name  = "earth-map-prod-site-010382427026"
hosted_zone_id    = "Z10168803Q16IBJCR6YRD"
github_owner      = "HuyNguyen260398"
github_repo       = "earth-map"
